.answers{
    cursor: pointer;
    margin-left: 5px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    border-bottom: 2px solid red;
    border-radius: 6px;
    margin-bottom: 1rem;
}
.pagination{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paginationItem{
    width: 40px;
    height: 40px;
    background-color: #eadada;
    color: darkred;
    border: none;
    transition: all  0.2s linear;
    margin: 0.5px;
}
@media (max-width: 500px) {
  .paginationItem{
      width: 35px;
      height: 35px;
  }
}
.paginationItem:hover{
    transform: scale(1.2);
    border-bottom: 2px solid red;
}
.activePage{
    background-color: #b42626;
    transform: scale(1.1);
    color: #fff;
}
.correct{
    background-color: green;
    color: #fff;
}
.incorrect{
    background-color: red;
    color: #fff;
}
.white{
    background-color: white;
}
.checked{
    background-color: blue !important;
    color:#fff;
}
